<link rel="stylesheet" href="../static/main.css">
<body>
   <div id = "table">
    <form>
    <table>
        <thead>
            <tr>
                {% for header in headers %}           
                    <th>
                    {{header[0]}}
                    </th>                 
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            
                {% for result in results%}
                    <tr>  
                    {% for i in range(size)%}         
                        <td>
                        {{result[i]}}
                        </td>
                    {% endfor %}
                    </tr>         
                {% endfor %}
                    <tr>  
                    {% for type in types%}         
                        <td>
                       <input type = {{ type }}> </button>
                        </td>
                    {% endfor %}
                    </tr>         
        </tbody>
    </table>
    <button type = "submit">CRIAR</button>
    </form>
   </div>
   <script src="{{ url_for('static', filename='index.js') }}"></script>
<body>